/*CSS Reset*/
* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* CSS Vaariables */
:root {
  --navbar_height: 59px;
}

/* Navigation bar */
#navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before {
  content: " ";
  background-color: rgb(68, 68, 68);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;


}

/*Navigation_bar:Logo and Images */
#logo {
  margin: 6px 20px;
}

#logo img {
  height: 70px;
  margin: 3px 6px;
}

/*Navigation_bar:List and Styling */


#navbar ul {
  display: flex;
  

}

#navbar ul li {

  /* color: white; */
  list-style: none;
  font-size: 1.3rem;
  
}

#navbar ul li a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: rgb(255, 0, 0);
  background-color: white;
}

/* Section Home */
.about_us{
  display: flex;
  flex-direction: column;
  padding: 4px 100px;
  justify-content: center;
  align-items: center ;
  height: 633px;
}
.about_us::before{
  content: " ";
  background:url(images/about\ img.jpg)  no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;
}
.about_us p{
  color:black;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Baloo Bhai 2', serif serif ;
}
.about_us h1{
  color:red;
  text-align: center;
  font-size: 2.8rem;
  font-family: 'Baloo Bhai 2', serif serif;
}
#home{
  display: flex;
  flex-direction: column;
  padding: 4px 100px;
  justify-content: center;
  align-items: center ;
  height: 633px;
}
#home::before{
  content: " ";
  background:url(images/bk\ img.jpg)  no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;

}


#home h1{
  color:red;
  text-align: center;
  font-size: 2.8rem;
  font-family: 'Baloo Bhai 2', serif serif;
}
#home h4{
    padding: 10px 20px;
    border-radius:  10px;
    border: 2px solid white;
    background-color: rgb(255, 27, 19);
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    cursor: pointer;
  
}
#home p{
  color:black;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Baloo Bhai 2', serif serif ;
}
/* Services Section */
#services{
  display: flex;
  margin: 34px;
}
#services  .box{
  border: 2px solid red;
  text-align: center;
  margin: 2px;
  padding: 3px;
  border-radius: 20px;
}

#services .box img{
  height: 160px;
  display: block; 
  margin: auto;
}
#services .box p{
  font-family: 'Baloo Bhai 2', serif serif ;
}

/* Doctors Sections */
#doctors{
  display: flex;
  margin: 34px;
}
#doctors .box{
  text-align: center;
  margin: 2px;
  padding: 3px;
  border-radius: 20px;
}
#doctors .box img{
  justify-content: center;
  align-items: center;
  height: 140px;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10PX;
}

/* Sponsers */
#Sponsers-section{
  height: 334px;
}
#sponsers{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#sponsers .client-items{
  border-radius: 20px;
  padding: 6px;
  margin: 6px;
}
#sponsers .client-items img{
  height: 100px;
}

.footer{
  
  left: 0px;
  right:0px;
  margin-top: 34px;
 color: black;
  background-color: rgb(185, 185, 185);
  height: 120px;
  
 
}

/* Utility Clasees */

.h_primary{
  font-family: 'Baloo Bhai 2', cursive;
  background-color: rgb(243, 127, 127);
  position: relative;
  left: 0px;
  right: 0px;
  font-size: 3.8rem;
  padding: 12px;
  
}
.h_secondary{
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 1.8rem;
  padding: 12px;

  
  
}
#ImplementedBtn{
  padding: 10px 20px;
  border-radius:  10px;
  border: 2px solid white;
  background-color: rgb(255, 27, 19);
  color: white;
  margin: 17px ;
  font-size: 1.5rem;
  cursor: pointer;
}
.centre{
  text-align: center;
}
/* Styles for mobile screens */
@media only screen and (max-width: 480px) {
  /* Modify styles for screens up to 480px wide (e.g., mobile devices) */

  /* Navigation bar */
  #navbar ul li {
    font-size: 1rem;
  }

  #navbar ul li a {
    padding: 3px 10px;
  }

  /* Section Home */
  .about_us h1,
  #home h1 {
    font-size: 2rem;
  }

  .about_us p,
  #home p {
    font-size: 1.2rem;
  }

  /* Services Section */
  #services {
    flex-wrap: wrap;
  }

  #services .box {
    flex-basis: 50%;
  }

  /* Doctors Section */
  #doctors {
    flex-wrap: wrap;
  }

  #doctors .box {
    flex-basis: 50%;
  }
}

/* Styles for tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Modify styles for screens between 481px and 768px wide (e.g., tablets) */

  /* Navigation bar */
  #navbar ul li {
    font-size: 1.1rem;
  }

  #navbar ul li a {
    padding: 3px 15px;
  }

  /* Section Home */
  .about_us h1,
  #home h1 {
    font-size: 2.5rem;
  }

  .about_us p,
  #home p {
    font-size: 1.3rem;
  }
}
